// Comentario sass
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; en el selector universal para ver el tamaño de cada elemento y cual desborda*/
}

body{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 40px;
}
//aplica correctamente en nosotros.html


.text{
    color: nth($list: $colores, $n: 3);//#1E1E1E
    font-size: 35px;
    text-align: center;
    @include flex(column, center, center);
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center
}

